body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls {
    display: flex;
}

.containter {
    display: grid;
    width: 1024px;
}

.pixel {
    width: 30px;
    height: 30px; 
    padding: 10px;
    border: 1px solid black;
}